<div class="back1">
  <div class="navbar-containers">
    <div class="whole">
      <div class="mesg">
        <div class="phone">
          <i class="fa-solid fa-phone text-white"></i>
          <p class="text-white">87432 63521</p>
        </div>
        <div class="phone">
          <i class="fa-solid fa-envelope text-white"></i>
          <p class="text-white">Supportpingus.in</p>
        </div>
      </div>
      <div class="iconback">
        <img src="../../assets/whatsapp-svgrepo-com 1.png" width="20px" height="20px">
        <img src="../../assets/Vector.png" width="20px" height="20px">
        <img src="../../assets/pinterest-svgrepo-com 1.png" width="20px" height="20px">
        <img src="../../assets/Group 50.png" width="20px" height="20px">
      </div>
    </div>
  </div>
</div>
<div class="back">
  <div class="navbar-container">
    <div class="navbar">
      <h1>Logo</h1>
      <ul class="content ">
        <li class="list-items-menu menu" (click)="exportPopup()">Block Chain
          <i class="fa-solid fa-angle-down "></i>
        </li>
        <li class="menu" (click)="exportPopup1()">AI
          <i class="fa-solid fa-angle-down"></i>
        </li>
        <li class="menu" (click)="exportPopup2()"> Metaverse
          <i class="fa-solid fa-angle-down"></i>
        </li>
        <li class="menu"> Exchange
          <i class="fa-solid fa-angle-down"></i>
        </li>
        <li class="menu"> Consulting
          <i class="fa-solid fa-angle-down"></i>
        </li>
        <li class="menu"> Industry
          <i class="fa-solid fa-angle-down"></i>
        </li>
      </ul>
      <div class="brd">
        <button class="bt">Get in Touch</button>
        <button class="btr">Partner with us</button>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid gray hover-content" *ngIf="openpop">
  <div class="row ">
    <div class="col-lg-4">
      <ul class="nav-list">
        <li>Blockchain<i class="fa-solid fa-chevron-right"></i></li>
        <li>Blockchain Frameworks <i class="fa-solid fa-chevron-right"></i></li>
        <li>Layer 1 & Layer 2 solutions <i class="fa-solid fa-chevron-right"></i></li>
        <li>Enterprise Blockchain <i class="fa-solid fa-chevron-right"></i></li>
        <li>Smart Contract <i class="fa-solid fa-chevron-right"></i></li>
        <li>Tokenization <i class="fa-solid fa-chevron-right"></i></li>
        <li>Whitepaper <i class="fa-solid fa-chevron-right"></i></li>
      </ul>
    </div>
    <div class="col-lg-2 Group" (click)="navigateToBlockchainDevelopment()">
      <img src="../../assets/Group 128.png" width="30px" height="30px">
      <h6>Blockchain Development</h6>
      <p>Tap into the potential of
        blockchain technology with our
        strategic blockchain services.</p>
      <i class="fa-solid fa-arrow-right"></i>
    </div>
    <div class="col-lg-2 Group">
      <img src="../../assets/Group 128 (1).png" width="30px" height="30px">
      <h6>Blockchain Game Develop</h6>
      <p>Tap into the potential of
        blockchain technology with our
        strategic blockchain services.</p>
      <i class="fa-solid fa-arrow-right"></i>
    </div>
    <div class="col-lg-2 Group">
      <img src="../../assets/Group 128 (2).png" width="30px" height="30px">
      <h6>Blockchain In Identity
        Management</h6>
      <p>Tap into the potential of
        blockchain technology with our
        strategic blockchain services.</p>
      <i class="fa-solid fa-arrow-right"></i>
    </div>
    <div class="col-lg-2 Group">
      <img src="../../assets/Group 128 (3).png" width="30px" height="30px">
      <h6>Layer 1 Solutions</h6>
      <p>Tap into the potential of
        blockchain technology with our
        strategic blockchain services.</p>
      <i class="fa-solid fa-arrow-right"></i>
    </div>
  </div>
</div>





<div class="container-fluid gray hover-content" *ngIf="openpop1">
  <div class="row ">
    <div class="col-lg-4">
      <ul class="nav-list">
        <li>Artificial Intelligence<i class="fa-solid fa-chevron-right"></i></li>
        <p class="mt-3">Unlock the power of AI & ML
          to restructure your approach towards
          business operations.</p>
      </ul>

    </div>
    <div class="col-lg-2 Group" (click)="navigateToAiDevelopment()">
      <img src="../../assets/Group 128.png" width="30px" height="30px">
      <h6>AI ML Solutions</h6>
      <p>Capitalize on the potential of
        AI & ML for strategic business
        operations.</p>
      <i class="fa-solid fa-arrow-right"></i>
    </div>
  </div>
</div>




<!-- <div class="container-fluid gray hover-content" *ngIf="openpop2">
  <div class="row ">
    <div class="col-lg-4 mt-3">
      <ul class="nav-list2">
        <li>Metaverse<i class="fa-solid fa-chevron-right"></i></li>
        <li>Metaverse Industries <i class="fa-solid fa-chevron-right"></i></li>
        <p class="mt-3">Build larger-than-life,Immersive & Real 3D<br>experiences for your Customer.</p>
      </ul>
    </div>
    <div class="col-lg-2 Group1" (click)="navigateTometaverse()">
      <img src="../../assets/Group 128.png" width="30px" height="30px">
      <h6>Metaverse Development</h6>
      <p>Tap into the potential of
        blockchain technology with our
        strategic blockchain services.</p>
      <i class="fa-solid fa-arrow-right"></i>
    </div>
    <div class="col-lg-2 Group1">
      <img src="../../assets/Group 128 (1).png" width="30px" height="30px">
      <h6>Metaverse App Development</h6>
      <p>Tap into the potential of
        blockchain technology with our
        strategic blockchain services.</p>
      <i class="fa-solid fa-arrow-right"></i>
    </div>
    <div class="col-lg-2 Group1">
      <img src="../../assets/Group 128 (2).png" width="30px" height="30px">
      <h6>Metaverse Avatar 
        Development</h6>
      <p>Tap into the potential of
        blockchain technology with our
        strategic blockchain services.</p>
      <i class="fa-solid fa-arrow-right"></i>
    </div>
    <div class="col-lg-2 Group1">
      <img src="../../assets/Group 128 (3).png" width="30px" height="30px">
      <h6>Metaverse Game</h6>
      <p>Tap into the potential of
        blockchain technology with our
        strategic blockchain services.</p>
      <i class="fa-solid fa-arrow-right"></i>
    </div>

    <div class="col-lg-4">

    </div>

    <div class="col-lg-2 Group1">
      <img src="../../assets/Group 128 (3).png" width="30px" height="30px">
      <h6>Metaverse Game</h6>
      <p>Tap into the potential of
        blockchain technology with our
        strategic blockchain services.</p>
      <i class="fa-solid fa-arrow-right"></i>
    </div>

    <div class="col-lg-2 Group1">
      <img src="../../assets/Group 128 (3).png" width="30px" height="30px">
      <h6>Metaverse Game</h6>
      <p>Tap into the potential of
        blockchain technology with our
        strategic blockchain services.</p>
      <i class="fa-solid fa-arrow-right"></i>
    </div>
  </div>
</div> -->


<div class="gray" *ngIf="openpop2">
  <div class="whole-div">
    <div class="nav-list2">'
      <ul >
        <li>Metaverse<i class="fa-solid fa-chevron-right"></i></li>
        <li>Metaverse Industries <i class="fa-solid fa-chevron-right"></i></li>
        <p class="mt-3">Build larger-than-life,Immersive & Real 3D<br>experiences for your Customer.</p>
      </ul>
     </div>
    <div class="meta-nav">
      <div class=" Group1" (click)="navigateTometaverse()">
        <img src="../../assets/Group 128.png" width="30px" height="30px">
        <h6>Metaverse Development</h6>
        <p>Tap into the potential of
          blockchain technology with our
          strategic blockchain services.</p>
        <i class="fa-solid fa-arrow-right"></i>
      </div>
      <div class=" Group1">
        <img src="../../assets/Group 128 (1).png" width="30px" height="30px">
        <h6>Metaverse App Development</h6>
        <p>Tap into the potential of
          blockchain technology with our
          strategic blockchain services.</p>
        <i class="fa-solid fa-arrow-right"></i>
      </div>
      <div class=" Group1">
        <img src="../../assets/Group 128 (2).png" width="30px" height="30px">
        <h6>Metaverse Avatar 
          Development</h6>
        <p>Tap into the potential of
          blockchain technology with our
          strategic blockchain services.</p>
        <i class="fa-solid fa-arrow-right"></i>
      </div>
      <div class=" Group1">
        <img src="../../assets/Group 128 (3).png" width="30px" height="30px">
        <h6>Metaverse Game</h6>
        <p>Tap into the potential of
          blockchain technology with our
          strategic blockchain services.</p>
        <i class="fa-solid fa-arrow-right"></i>
      </div>
  
      <div class="Group1">
        <img src="../../assets/Group 128 (3).png" width="30px" height="30px">
        <h6>Metaverse Game</h6>
        <p>Tap into the potential of
          blockchain technology with our
          strategic blockchain services.</p>
        <i class="fa-solid fa-arrow-right"></i>
      </div>
      <div class=" Group1">
        <img src="../../assets/Group 128 (3).png" width="30px" height="30px">
        <h6>Metaverse Game</h6>
        <p>Tap into the potential of
          blockchain technology with our
          strategic blockchain services.</p>
        <i class="fa-solid fa-arrow-right"></i>
      </div>
    </div>
  </div>
  </div>