
.col-lg-4 {
    flex: 0 0 auto;
    width: 25.333333% !important;
  }


 
.hover-content {
    position: absolute;
    top: 20%;
    left: 0;
    background-color:whitesmoke;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    z-index: 1;
}

.list-items-menu {
    position: relative;
}
.menu:hover{
  background-color: orangered;
border-radius: 30px;
}

.list-items-menu:hover .hover-content {
    background-color: bisque;
    display: block;
}
.nav-list li .fa-chevron-right {
  position: absolute;
  right: 0;
  top: 60%;
  left: 185px;
  transform: translateY(-70%);
}

  .gray{
    background-color: gainsboro;
    width: 100%;
    height: auto;
    position: absolute;
    z-index: 1;
   }
   .conatin{
    display: flex;
   }
   ul li{
    list-style-type: none;
    padding: 10px;
   }
   .nav-list{
    border-radius: 30px;
    list-style-type: none;
    padding: 0;
    margin: 10px;
    margin-bottom: 10px;
    background-color: white;
    padding: 30px;
    width: 86%;
   }
   

   .nav-list2 {
    border-radius: 30px;
    list-style-type: none;
    padding: 10px;
    margin: 10px;
    margin-bottom: 10px;
    background-color: white;
    /* padding: 30px; */
    width: 69%;
    height: 273px;
}
.whole-div {
  display: flex;
  gap: 1rem;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
}

   .nav-list2 li .fa-chevron-right {
    position: absolute;
    right: 0;
    top: 60%;
    left: 185px;
    transform: translateY(-70%);
  }
  .nav-list2 li {
    position: relative;
    font-family: Spectral;
    padding: 4px;
  }
   .nav-list li {
    position: relative;
    font-family: Spectral;
    padding: 4px;
  }
  .meta-nav{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    padding-bottom: 22px;
}
  
  .nav-list li:hover {
    color: orange; 
    cursor: pointer;
  }
  .nav-list2 li:hover {
    color: orange; 
    cursor: pointer;
  }
   .Group h2 p{
    font-size: 5px;
   }
   .Group h6{
    font-family: song myung;
    font-weight: bold;
   }

   .Group1 h2 p{
    font-size: 10px;
   }
   .Group1 h6{
    font-family: song myung;
    font-weight: bold;
    font-size: 15px;
   }
   .col-lg-2:hover{
  background-color: orangered;
  color: white;
 }
 .Group1:hover{
  background-color: orangered;
  color: white;
 }
 .Group {
  background-color: whitesmoke;
  font-family: Spectral;
  height: 234px;
  padding: 20px 20px 20px 20px;
  margin-right: 20px;
  margin-top: 36px;
  border-radius: 20px;
  cursor: pointer;
}
.Group1 {
  background-color: whitesmoke;
  font-family: Spectral;
  height: 249px;
  width: 20%;
  padding: 10px 10px 10px 10px;
  /* margin-right: 20px; */
  margin-top: 36px;
  border-radius: 20px;
  cursor: pointer;
}
.back1{
    background-color: rgba(42, 46, 51, 1);
    height: 40px;
    padding: 10px;
    width: 100%;
}
.nav-list1 p{
  font-family: spectral;
}

.phone{
    display: flex;
    align-items: baseline;
    gap: 1rem;
    justify-content: space-evenly;
}
.whole {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.mesg {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: baseline;
    flex-wrap: nowrap;
}

.iconback {
    display: flex;
    gap: 1rem;
    align-items: center;
}

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

.content {
    border-radius: 2.5rem;
    padding-left: 0px;
    border: 1px solid rgba(255, 255, 255, 0.15);
  
    font-family: 
    Song Myung;
    background: rgba(238, 237, 237, 1);
    list-style-type: none;
    display: flex;
   
    gap: 2rem;
    color: black;
    justify-content: center;
    align-items: center;
}
.content {
  list-style-type: none;
  margin: 0;
}

   .contant :hover {
    background-color:orangered;
    border-radius: 30px;
  }
  


.dropdown-content {
    display: none;
}




.content ul li{
    cursor: pointer;
}
.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    cursor: pointer;
}

h1 {
    color:black;
    font-family: "Porter Sans Block";
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.content-login {
    border-radius: 1.875rem;
    background: #FAFAFA;
    color: black;
    font-size: 14px;
    font-family: Outfit;
    word-wrap: break-word;
    display: flex;
    padding: 0.175rem 0.9375rem;
    align-items: flex-start;
    gap: 0.625rem;
    flex-direction: row;
    align-items: center;
    cursor: pointer;

}
.btr {
  border-radius: 20px;
  font-family: Song Myung;
  border: none;
  font-size: 15px;
  padding: 10px 10px 10px 10px;
  margin: 10px;
    background-color: transparent;
  border: 1px solid orangered; 
  color: orangered;
 
}
.bt {
  border-radius: 20px;
  font-family: Song Myung;
  border: none;
  font-size: 15px;
  padding: 10px 10px 10px 10px;
  margin: 10px;
  color: white;
  background-color: rgba(255, 73, 0, 1);
}
.let{
    margin-top: 12px;
}


@media screen and  (max-width: 829px) {
    
    .content{
      display: flex;
      flex-direction: column;
    }
    .navbar-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .navbar{
        flex-direction: column;
        align-items: center;
    }
    .content-toggle{
        margin-top: 20px;
    }


.back {
    position: relative;
  }

  .navbar-container {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    z-index: 1000;
  }

  .navbar {
    padding: 10px;
  }
}

@media screen and (max-width:978px) {
    .navbar-container{
        display: flex;
        flex-direction: row;
    }
    
}