/*slide1*/

.slide{
    background-image: url("../../assets/ai-cloud-concept-with-robot-arms\ 1.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height:70vh;
    
  }

  .row1 {
    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: nowrap;
    justify-content: center;
    position: relative;
    top: 100px;
}

.text-container span {
    display: inline-block;
    margin-right: 1rem;
    animation: slideIn 0.5s ease-in-out forwards;
  }
  .text-container span:last-child {
    margin-right: 0; 
  }
  
  .text-container span:nth-child(odd) {
    animation-delay: 0.5s;
  }
  .texts{
    color: black;
    margin-top: 20px;
    font-family: Spectral;
  }

  .brd {
    position: relative;
    left: 60px;
    top: 140px;
}  

.bt {
  border-radius: 20px;
  font-family: Song Myung;
  border: none;
  font-size: 15px;
  padding: 15px 45px 15px 45px;
  margin-top: 20px;
  color: white;
  padding-left: 3px;
  background-color: rgba(255, 73, 0, 1);
}
.btr:hover {
  color: black;
  animation: boom 0.1s ease;
}
  
  @keyframes boom {
    0% { transform: scale(0); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
  }
  .gif {
    display: flex;
    justify-content: center;
    background-color: #d9d9d9;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    border-radius: 56%;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 90%;
    left: 600px;
  }
  .text-container {
    color: black;
    white-space: nowrap;
    font-family:
    Song Myung;
    overflow: hidden;
    font-size: 24px;
    text-align: center;
  }

  .bt:hover {
    transform: scale(1.1);
  }
  
  .bt::after {
    content: "";
    color: black;
    border-radius: 50%;
    background-image: url("../../assets/Group\ 69670.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 40px;
    height: 42px;
    position: absolute;
    top: 65%;
    left: 130px;
    transform: translateY(-50%);
  }
  @keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
}

/*slide2*/

.divicon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
    padding: 20px;
    background-color: rgba(238, 237, 237, 1);
    margin: 10px;
    overflow: hidden; 
  }
  
  .divicon p {
    font-size: 20px;
    font-family: Spectral;
  }
  
  .slide2 {
    display: flex;
    object-fit: cover;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .slide2 p {
    font-size: 20px;
    font-family: Spectral;
  }
  
  .slides {
    display: flex;
    flex-direction: row;
    animation: scroll-left 10s linear infinite;
    overflow-x: hidden;
    width: 100%; 
  }
  
  @keyframes scroll-left {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
  }


  /*slide3*/

  .slideh5{
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: Song Myung;
  }

  .slide5 p{
    font-family: Spectral;
  }

  .ai-imag1 {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    opacity: 80%;
}
.main-container-1 {
    display: flex;
    gap: 2rem;
    justify-content: space-evenly;
}
.main-container-2 {
    margin-top: 30px;
    display: flex;
    gap: 2rem;
    justify-content: space-evenly;
}
  .image-1{
    padding: 10px;
    width: 100%;
    height: 400px;
    object-fit: cover;  

}
.ai-div {
    background-color: white;
    padding: 10px 23px 10px 23px;
    position: relative;
    bottom: 350px;
    border-radius: 30px;
}
.ai-div h3{
    font-size: 20px;
    font-weight: bold;
}

.button{
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 30px;
    font-weight: bold;
    padding: 10px;
    border: 2px solid white;
    position: relative;
    bottom: 150px;
    left: 130px;
}
.button1{
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 30px;
    padding: 10px;
    font-weight: bold;
    border: 2px solid white;
    position: relative;
    bottom: 150px;
    left: 130px;
}
.button2{
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 30px;
    padding: 10px;
    font-weight: bold;
    border: 2px solid white;
    position: relative;
    bottom: 150px;
    left: 130px;
}
.button3{
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 30px;
    padding: 10px;
    font-weight: bold;
    border: 2px solid white;
    position: relative;
    bottom: 150px;
    left: 130px;
}
.button4{
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 30px;
    padding: 10px;
    font-weight: bold;
    border: 2px solid white;
    position: relative;
    bottom: 150px;
    left: 130px;
}
.button5{
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 30px;
    padding:10px;
    font-weight: bold;
    border: 2px solid white;
    position: relative;
    bottom: 150px;
    left: 130px;
}
.fa-solid{
    margin-left: 5px;
    margin-top: 5px;
}
.button:hover.ai-imag1{
  background-color: #FF8960;
}
.image-container {
  position: relative;
  display: inline-block;
}

.ai-image {
  width: 100%; /* Adjust image width as needed */
  height: auto; /* Maintain aspect ratio */
  transition: filter 0.3s ease; /* Smooth transition for filter changes */
}

.dull {
  filter: brightness(0.5); /* Reduce brightness of the image when 'dull' class is applied */
}

.image-overlay{
  position: absolute;
  top: 123%;
  left: 0;
  width: 31%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.image-overlay p {
  padding: 20px;
  font-size: 16px;
  color: #333; 
}

.button-container:hover .button {
  display: none;
}


.image-overlay1 {
  position: absolute;
  top: 135%;
  left: 450px;
  height: 60%;
  width: 31%;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}

.image-overlay1 p {
  font-size: 16px;
  color: #333;
}
.button-container1:hover .button1 {
  display: none;
}

.image-overlay2 {
  position: absolute;
  top: 135%;
  left: 890px;
  height: 60%;
  width: 31%;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}

.image-overlay2 p {
  font-size: 16px;
  color: #333;
}
.button-container2:hover .button2 {
  display: none;
}

.image-overlay3{
  position: absolute;
  top: 200%;
  left: 0;
  width: 31%;
  height: 60%;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.image-overlay3 p {
  padding: 20px;
  font-size: 16px;
  color: #333; 
}
.button-container3:hover .button3 {
  display: none;
}

.image-overlay4 {
  position: absolute;
  top:200%;
  left: 450px;
  height: 60%;
  width: 31%;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}

.image-overlay4 p {
  font-size: 16px;
  color: #333;
}

.button-container4:hover .button4 {
  display: none;
}
.image-overlay5 {
  position: absolute;
  top:200%;
  left: 890px;
  height: 60%;
  width: 31%;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}

.image-overlay5 p {
  font-size: 16px;
  color: #333;
}
.button-container5:hover .button5 {
  display: none;
}
/*slide4*/

.back {
    background-color: rgba(238, 237, 237, 1);
    width: 100%;
    height: 250px;
    margin-top: 50px;
  }
  
  .whole {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .whole p{
    font-family: Spectral;
  } 
  .btr1 {
    border-radius: 20px; 
    font-family:
    Song Myung;
    background-color: white;
    border: transparent;
  color:orangered;
  font-size: 15px;
  padding: 10px;
  transition: transform 0.3s ease;
  }
  .bt3 {
    border-radius: 37px;
    font-family: "Song Myung";
    border: none;
    font-size: 15px;
    margin-top: 20px;
    margin-right: 20px;
    padding: 8px 29px 10px 30px;
    color: white;
    background-color: rgba(255, 73, 0, 1);
    position: relative;
    overflow: hidden;
  }
  .btr1:hover {
    background-color: #ffcebb;
    transform: scale(1.1);
  }
  .bt3:hover {
    transform: scale(1.1);
  }


  /*slide7*/

  .first-image{
    width: auto;
    height: 200px;
}
.img1{
    width: 100%;
    height: 100%;
}
.black {
  background-color: black;
  width: 34%;
  height: 470px;
  display: flex;
  gap: 2rem;
}
.slide5 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
.slides5{
    display: flex;
}


  
  .first-image {
    display: inline-block;
    min-width: 104%;
    box-sizing: border-box;
    padding: 0 10px;
    text-align: center;
  }
  
  img.img1 {
    object-fit: fill;
  }
  
  .black {
    display: flex;
    overflow-x: auto;
    padding: 10px;
    scroll-snap-type: x mandatory;
  }
  
  .black::-webkit-scrollbar {
    display: none;
  }
  
  .black > .first-image {
    scroll-snap-align: start;
  }
  

  /*slide6*/


  .whites1 {
    background-color: #ffeee8;
    width: 30%;
    height: 210px;
    box-shadow:2px 3px 1px rgba(0, 0, 0, 0.5);
    padding: 13px;
  } 
  
  .whites1:hover img {
    transform: rotate(17.76deg);
  }
  .whites1:hover{
    background-color:#FF8960;
  }
  
  .box2{
    display: flex;
    justify-content: space-around;
  }
  .boxed1 {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    justify-content: space-around;
  }
  .back1 {
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .box3 {
    display: flex;
    align-items: center;
    justify-content: center;
  }



  .whites1 {
    background-color: #ffeee8;
    width: 30%;
    height: 210px;
    box-shadow:2px 3px 1px rgba(0, 0, 0, 0.5);
    padding: 13px;
  } 
  
  .whites1:hover img {
    transform: rotate(17.76deg);
  }
  .whites1:hover{
    background-color:#FF8960;
  }
  
  .box2{
    display: flex;
    justify-content: space-around;
  }
  .boxed1 {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    justify-content: space-around;
  }
  .back1 {
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .box3 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /*slide7*/
  .main-conatiner{
    background-image: url("../../assets/Vector\ \(1\).png");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 30px;
  }
 
  .map-conbtainer1 {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}
  .map-conbtainer2{
  
    width: 100%;
    display: flex;
    justify-content: end;
  }
  .map-conbtainer3{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  .hai{
    height: 200px;
    width: 30%;
    background-color:rgba(255, 238, 232, 1);
    padding: 10px;
  }
  .hai h5{
    font-family: Song Myung;
  }
  .hai p{
    font-family: Spectral;
  }
  .hais p{
    font-family: Spectral;
  }
  .hais {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
  .map-conbtainer1 {
    position: relative;
  }
  
  .map-conbtainer1::before {
    content: "";
    position: absolute;
    top: 0;
    height: 507px;
    bottom: 0;
    left: 50%; 
   
    width: 3px; 
    background-color:black; 
  }
  .line {
    background-color: black;
    width: 20%;
    height: 3px;
  }
  .line1 {
    background-color: black;
    width: 243.5px;
    height: 3px;
    top: 300px;
    position: relative;
    right: 501px;
}
  .line2 {
    background-color: black;
    width: 245.5px;
    height: 3px;
    top: -187px;
    position: relative;
    left: 253px;
}
.line3 {
  background-color: black;
  width: 245.5px;
  height: 3px;
  top: 86px;
  position: relative;
  left: -254px;
}
.line4 {
  background-color: black;
  width: 245.5px;
  height: 3px;
  position: relative;
  top: 6px;
  right: 620px;
}
  
/*slide9*/


.container-1 {
  position: relative; /* Ensure container is positioned relatively for absolute positioning of pseudo-element */
  background-color: #FFEEE8;
  width: 30%;
  height: 100px;
  transition: background-image 0.3s ease;
  overflow: hidden; /* Ensure overflow is hidden to hide pseudo-element overflow */
}


.main-box{
  display: flex;
  justify-content: space-around;
  margin: 30px;
}

.main-box1{
  display: flex;
  justify-content: space-around;
  margin: 30px;
  margin-top: 10px;
}

.container-1::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 10%;
  top: 0px;
  background-image: linear-gradient(#FFDACB, #FFDD9A);
  transition: height 0.3s ease; 
}
.container-1:hover::before {
  height: 100%; 
}

.container-1  h3{
  position: relative;
  font-family: Song Myung;
  font-weight: bold;
  font-size: 15px;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

/* slide9 */


.gray{
  background-color: #eeeded;
  padding: 10px;
  width: 500px;
  height: 400px;
  border-radius: 20px;
}
.gray h3{
  font-size: 20px;
  font-weight: bold;
  font-family: Song Myung;
}
.gray p{
  font-size: 15px;
  font-family: spectral;
}
.compline{
  margin: 30px;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-around;
}
.close{
  display: flex;
  height: 60%;
  align-items: center;
  justify-content: center;
}
.closed {
  width: 50%;
  border-radius: 15px;
  object-fit: cover;
  height: 109px;
}
.gray:hover{
  background-image: linear-gradient(#ffdacc,#ffde98);
}
.closed:hover{
  position: relative;
  border-radius: 20px;
  width: 100%;
  height:200px;
}

/* slide9 */

.div2{
  width: 70%;
  height: 100%;
}
.div1{
  width: 30%;
  height: 100%;
}
.gifffs{
  width: 100%;
  height: 100%;
}

.question {
  margin-top: 20px;
  padding: 16px 15px 5px 10px;
  font-family: Song Myung;
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: rgba(255, 73, 0, 1);
  color: white;
  border-radius: 20px;
}
.question1{
  margin-top: 20px;
  padding: 16px 15px 5px 10px;
  font-family: Song Myung;
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
  overflow: hidden;
  align-items: baseline;
}
.quiz{
  display: flex;
  align-items: center;
}
.para-quiz{
  margin-top: 5px;
  background-color: rgba(242, 242, 242, 1);
  border-radius: 20px;
  padding: 10px;
  font-family:Spectral ;
}
/* slide 10,11 */


.backgrounds{
  background-color:#fafafa;
  width: 100%;
  height: auto;
}

.text{
  margin-top: 100px;
  margin-bottom: 50px;
}


.heading{
  margin-bottom: 60px;
  font-family: Mukta;
}

.work {
  width: 600px; 
  height: 600px; 
  position: relative;
  overflow: hidden; 
}

.work img {
  position: absolute;
  top: 0;
  left: 0;
  animation: rotateAnimation 6s linear infinite; 
}

@keyframes rotateAnimation {
  from {
      transform: rotate(0deg); 
  }
  to {
      transform: rotate(360deg); 
  }
}



.backs{
  background-color:#ffeee8;
  width: 500px;
  margin: 30px;
  height: 600px;
  margin-bottom: 20px;
}
input{
  width: 100%;
  margin-top: 20px;
  background-color:#f2f2f2;
  padding: 10px;
  color:black;
  border: transparent;
}

textarea{
  width: 100%;
  background-color:#f2f2f2;
  padding: 10px;
  color:black;
  border: transparent;
}

.input-group {
  display: flex;
  align-items: center;
  background-color:#f2f2f2;
  margin-bottom: 20px;
}


select {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px 0 0 5px;
  border: transparent;
  background-color:#F0F6FC;
}

/* Styles for the phone number input field */
input[type="tel"] {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border-radius: 0 5px 5px 0;
  border: 1px solid #ccc;
  border: transparent;
}
.bt1 {
  border-radius: 37px;
  font-family: "Song Myung";
  border: none;
  font-size: 20px;
  margin-top: 20px;
  padding: 15px 58px 15px 58px;
  /* height: 38px; */
  /* width: 158px; */
  color: white;
  background-color: rgba(255, 73, 0, 1);
  position: relative;
  overflow: hidden;
}

.bt1:hover {
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.bt1::after {
  content: "";
  color: black;
  border-radius: 50%;
  background-image: url("../../assets/arrow\ \(1\).png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 59px;
  height: 74px;
  position: absolute;
  top: 64%;
  left: 80%;
  transform: translate(-50%, -50%);
  transition: left 1s ease,
}

.bt1:active::after {
  left: 0%;
  background-color: white;
  color: black;
}


.footer1 {
  margin: 30px;
  display: flex;
  gap: 1rem;
  justify-content: space-around;
  flex-wrap: wrap; 
}

.foot {
  margin: 10px;
}

.phone {
  display: flex;
  gap: 0.5rem;
  align-items: baseline; 
}

.iconsss {
 
  text-align: center; 
  margin-bottom: 30px;
}

.icon {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.icon i {
  font-size: 24px; 
}

.iconsss h3{
 
  font-family: Song Myung;
  color: orangered;
}

.under h3{
  font-family: Song Myung;
  color: orangered;
}
.foot h3{
  font-family: Song Myung;
  color: orangered;
}
.foot p{
  font-family: Spectral;
}
.under p{
  font-family: Spectral;
}