<div>
    <app-navbar></app-navbar>
</div>

<div class="slide">
    <div class="container-fluid slide1">
        <div class="row row1">
            <div class="col-lg-5 col-md-6"> 
                <div class="text-container">
                    <span>Activate</span>
                    <span>Blockchain</span>
                    <span>adoption</span>
                    <span>in</span>
                    <span>ever</span>
                    <br>
                    <span>changing</span>
                    <span>new</span>
                    <span>Normal.</span>
                </div>
                <p class="texts">"Building a Transparent Future, One Block at a Time in Pingus"</p>
                <div class="brd">
                    <button class="bt">Consult Our Experts</button>
                </div>
            </div>
            <div class="col-lg-2 d-none d-lg-block"> 
            </div>
            <div class="col-lg-5 col-md-6"> 
                <img src="../../assets/gif.gif" class="img-fluid"> 
            </div>
        </div>
    </div>
    
     <div class="gif">
        <img src="../../assets/Group 75.png" width="50px" height="50px">
     </div>
    <div class="divicon">
        <div class="slides">
            <div class="slide2">
                <img src="../../assets/Group 1.png" width="20%" height= "auto">
                <p>Fasted Network</p>
            </div>
            <div class="slide2">
                <img src="../../assets/ai-hub-svgrepo-com 1 1.png" width="20%" height= "auto">
                <p>Evolving Technology</p>
            </div>
            <div class="slide2">
                <img src="../../assets/secure-svgrepo-com 1 1.png" width="20%" height= "auto">
                <p>Secure</p>
            </div>
    
            <div class="slide2">
                <img src="../../assets/espresso-tamper 1 1.png"width="20%" height= "auto">
                <p>Tamper Proof</p>
            </div>
    
            <div class="slide2">
                <img src="../../assets/technical-support-svgrepo-com 1 1.png" width="20%" height= "auto">
                <p>24/7 Support</p>
            </div>
            
        </div>

    </div>


    <div class="container-fluid slide3">
        <div class="row rowslide3">
            <div class="col-lg-5">
                <div class="pslide3">
                    <h4 class="text-black">We turbocharge your business’s transition to web3 our 15+years of
                        experience , Supported by over 1000 experts and with track record of 1200+sucessful enterprises
                        implementations.</h4>
                    <div class="brd1">
                        <button class="btr1 ">Let’s Talk</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">

            </div>
            <div class="col-lg-5 fiveimg">
                <img src="../../assets/3d-internet-secuirty-badge 1 1.png" width="70%" height="250px">
            </div>
        </div>
    </div>
</div>
<div>
    <div class="slideh4">
        <h3 class="text-center">Crafting Non Fungible Excellence</h3>
    </div>
    <div class="slide4">
        <div class="image-container image1 ">
            <img src="../../assets/vecteezy_avatars-in-metaverse-party-and-online-meetings-via-vr_8353730 1.png"
                width="700px" height="700px">
            <div class="para1">
                <h3>Skoda NFT:</h3>
                <p>Re-imagined Skoda’s interaction with customers through NFT marketplace.</p>
            </div>
        </div>
        <div class="image2">
            <div class="image-container">
                <img src="../../assets/vecteezy_businessman-analyzing-forex-trading-graph-financial-data_2596092 1.png"
                    width="400px" height="400px">
                <div class="para">
                    <h3>Digital Banking:</h3>
                    <p>Seamlessly merged banking , exchange . and wallet features into one platform.</p>
                </div>
            </div>
            <div class="image-container">
                <img src="../../assets/vecteezy_attractive-young-woman-stands-under-money-fly-rain-ai_32515070 1.png"
                    width="100%" height="300px">
                <div class="para">
                    <h4>Lottery & Raffles Platform:</h4>
                    <p>Delivered non custodial & Raffles Platform.</p>
                </div>
            </div>
        </div>

    </div>

</div>

<div class="container-fluid">
    <div class="slideh5">
        <h3 class="text-center">Generating Casting Performance for mission critical Priorities</h3>
    </div>
    <div class="row">
    
        <div class="col-lg-12">
            <div class="clrs">
                <div class="content3">
                    <div class="clr">
                      <img src="../../assets/logo 4 (1).png" width="100%" height="70%px">
                    </div>
                    <div class="clr">
                      <img src="../../assets/Frame 5616 (2) 5 (1).png"  width="100%" height="70%px">
    
                    </div>
                    <div class="clr">
                      <img src="../../assets/logo 4 (1).png"width="100%" height="70%px">
                
                    </div>
                    <div class="clr">
                      <img src="../../assets/Frame 5616 (2) 5 (1).png" width="100%" height="70%px">
                      
                    </div>
                    <div class="clr">
                        <img src="../../assets/logo 4 (1).png"width="100%" height="70%px">
                  
                      </div>
                      <div class="clr">
                        <img src="../../assets/Frame 5616 (2) 5 (1).png" width="100%" height="70%px">
                        
                      </div>
                  </div>
            </div>
        </div>
    </div>
</div>
<div class="slideh5">
    <h3 class="text-center">Delivering Web3 Strategic Objectives </h3>
</div>
     <div class="whole-container">
        <div class="mrg1">
            <div class="image-container1">
                <img src="../../assets/unsplash_JlijbOtSWuw (1).png" class="image-cmd" >
                <div class="overlay">
                    <h2>Block Chain</h2>
                    Through the lens of our extensive industry expertise, We offer a customized suite of capabilities designed to address your specific use cases.
                  </div>
                <div class="bottom-left-text">
                  
                </div>
            </div>
            <div class="image-container1 ">
                <img src="../../assets/Group 8.png" alt="Metaverse Image" class="image-cmd" >
                <div class="bottom-left-text">
                    Metaverse
                </div>
            </div>
        </div>
        <div class="mrg1">
            <div class="image-container1">
                <img src="../../assets/unsplash_GEONQEnR_3A (1).png" class="image-cmd"  >
                <div class="bottom-left-text">
                    Crypto Solutions
                </div>
            </div>
            <div class="image-container1">
                <img src="../../assets/unsplash_qDG7XKJLKbs.png" class="image-cmd"  >
                <div class="bottom-left-text">
                    Artificial Intelligence
                </div>
            </div>
        </div>
    </div>


<div class="container-fluid">
    <div class="slideh6">
        <h3 class="text-center">Driving Ingenuity with Relentless Blockchain Innovation</h3>
    </div>
    <div class="row rowslide" >
        <div class="col-lg-4 whites">
         <div>
            <img src="../../assets/imag1.png"  width="50px" height="50px">
            <P class="text-center">Binance</P>
         </div>
        </div>
        <div class="col-lg-4 whites">
            <div>
                <img src="../../assets/tron.svg.png"  width="100px" height="100px">
                <p class="text-center">Tron</p>
             </div>
        </div>
        <div class="col-lg-4 whites">
            <div>
                <img src="../../assets/image3.png"  width="50px" height="50px" >
                <p class="text-center">Ethereum</p>
             </div>
        </div>
    </div>

    <div class="row rowslide1" >
        <div class="col-lg-4 whites">
            <div>
                <img src="../../assets/image4.png"  width="100px" height="100px" >
                <p class="text-center">Polygon</p>
             </div>
        </div>
        <div class="col-lg-4 whites">
            <div>
                <img src="../../assets/image5.png"  width="100px" height="100px">
                <p class="text-center">Corda</p>
             </div>
        </div>
        <div class="col-lg-4 whites">
            <div>
                <img src="../../assets/image6.png"  width="100px" height="100px" >
                <p class="text-center">Klaytn</p>
             </div>
        </div>
    </div>
</div>



<div class="container-fluid p-5">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="text-center mt-5 mb-5">Our Latest Company News, Whitepapers, Videos, and Insights</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8">
            <div class="hov" (click)="toggleImage(0)">
                <h3>Blockchain</h3>
                <p>Unmasking the Top 10 Decentralized Identity Verification Companies in the USA</p>

            </div>

            <div class="hov" (click)="toggleImage(1)">
                <h3>Metaverse</h3>
                <p>Medical Education in Metaverse: How Virtual Worlds are Shaping the Future of Doctors?</p>

            </div>

            <div class="hov" (click)="toggleImage(2)">
                <h3>Asset Tokenization</h3>
                <p>The Power of Tokenization for Protecting Sensitive Data</p>

            </div>

            <div class="hov" (click)="toggleImage(3)">
                <h3>Exchange</h3>
                <p>Unraveling the Complexity: 8 Key Companies of Decentralized Cryptocurrency Exchanges</p>

            </div>
        </div>

        <div class="col-lg-4">
            <div class="whiteback">
                <div class="whole" *ngIf="imageOpenIndex === 0">
                    <img id="image-metaverse" src="../../assets/Frame 5635.png" width="400px" height="400px" alt="Metaverse Image" class="boom1">
                </div>
                <img *ngIf="imageOpenIndex === 1" id="image-Asset Tokenization" width="400px" height="400px" src="../../assets/Frame 5636.png"
                    alt="Asset Tokenization Image" class="boom1">
                <img *ngIf="imageOpenIndex === 2" id="image-Exchange" width="400px" height="400px" src="../../assets/Frame 5637.png"
                    alt="Exchange Image" class="boom1">
                <img *ngIf="imageOpenIndex === 3" id="image-Exchange" width="400px" height="400px" src="../../assets/Frame 5638.png"
                    alt="Exchange Image" class="boom1">
            </div>
        </div>

    </div>
</div>



<div class="container-fluid backgrounds p-5">
    <div class="row">
        <div class="col-lg-6">
            <h6 class="text-center  text">Let’s talk about your next big project.</h6>
            <div class="work">
                <img src="../../assets/Component 13.png" width="100%" height="70%">
            </div>
        </div>

        <div class="col-lg-6 backs">
            <form>
                <input type="text" id="username" name="username" placeholder="Your Name"><br><br>
                <input type="password" id="password" name="password" placeholder="E-mail Address"><br><br>
                <div class="input-group">
                    <select id="countryCode" name="countryCode">
                        <option value="in">🇮🇳 +91</option>
                        <option value="us">🇺🇸 +1</option>
                        <option value="uk">🇬🇧 +44</option>
                    </select>
                    <input type="tel"  id="phoneNumber" name="phoneNumber" placeholder="Enter phone number">
                </div>
                <input type="text" id="username" name="username" placeholder="Phone Number"><br><br>
                <textarea>

                </textarea>
                <p class="pr">Please Prove you are human by Selecting the <span class="flag"> Flag</span> </p>
                <div class="icons">
                    <img src="../../assets/Flag (1) (1).png" width="30px" height="30%">
                    <img src="../../assets/flight-svgrepo-com 1 (1).png" width="40px" height="40%">
                    <img src="../../assets/tree-svgrepo-com 1 (1).png" width="40px" height="40px">

                </div>
                <div class="brds">
                    <button class="bt1">Submit</button>
                </div>
            </form>
        </div>

    </div>

</div>



<div class="">
    <div class="footer1">
        <div class="foot">
            <h3>Services</h3>
            <p>Blockchain</p>
            <P>Metaverse</P>
            <p>Crypto Solutions</p>
            <P>Artificial Intelligence</P>
        </div>
        <div>
            <div class="foot">
                <h3>About US</h3>
                <p>About Us</p>
                <P>Roadmap</P>
                <p>Newsroom</p>
                <P>Careers</P>
                <p>Insights</p>
            </div>

        </div>

        <div>
            <div class="foot">
                <h3>Connect</h3>
                <div class="phone">
                    <i class="fa-solid fa-phone"></i>
                    <p>+91 9501764674,+91 9878362625</p>
                </div>
                <div>
                    <h3>India</h3>
                    <p>C-208, Phase 8B Industrial Area,</p>
                    <p>Mohali, Punjab INDIA, 160059</p>
                </div>
                <div>
                    <h3>USA</h3>
                    <p>3111 East Tahquitz Canyon Way, Suite</p>
                    <p>140, Palm Springs, CA 92262</p>
                </div>
                <div>
                    <h3>Australia</h3>
                    <p>3/ 55 Pyrmont Bridge Road, Pyrmont,</p>
                    <p>NSW 2009</p>
                </div>
            </div>
        </div>

        <div class="under">
             <div class="phone">
                <i class="fa-regular fa-envelope"></i>
                <p>infopingusolutions.com</p>
             </div>
            <div>
                <h3>UK</h3>
                <p>Antenna Media Centre, Beck Street,</p>
                <p>Nottingham, NG1 1EQ</p>
            </div>

            <div>
                <h3>UAE</h3>
                <p>A1-304B Al-Hamra Industrial Zone,</p>
                <p>RAK, UAE</p>
            </div>
        </div>

        <div class="iconsss">
            <h3>Follow</h3>
            <div class="icon">
                <i class="fa-brands fa-x-twitter"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-facebook"></i>

            </div>
            <div class="icon mt-3">
                <i class="fa-brands fa-pinterest"></i>
                <i class="fa-brands fa-linkedin"></i>
            </div>
            <div class="icon mt-3">
                <i class="fa-brands fa-medium"></i>
            </div>
        </div>


    </div>

</div>
<hr>
<div class="foot">
    <h6 class="text-center">&#64;2024 Pingus.All Rights Reserved. </h6>
</div>